import { getCallId } from '../../dist/esm/index.js';
const { expect } = chai;

// A JS file in order to be sure of the line and column numbers
describe('browser', () => {
  const fileName = import.meta.url;




%TESTS%
});
