const { expect } = require('chai');
const { getCallId } = require('../..');

// A JS file in order to be sure of the line and column numbers
describe('node cjs', () => {
  const fileName = __filename;




%TESTS%
});
