import { expect } from 'chai';
import { getCallId } from 'call-id';

// A JS file in order to be sure of the line and column numbers
describe('node esm', () => {
  const fileName = new URL(import.meta.url).pathname;




%TESTS%
});
